<!--Home-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="./css/home.css" rel="stylesheet" type="text/css">
    <link href="./css/main.css" rel="stylesheet" type="text/css">

<title>Home</title>
<div class="topnav">
  <img src="./img/textlogo.png" alt = "Homies logo"
  width =200px
  height = 80px
  align = "left"
  style = "padding-right: 30px;"/>

  <img class = "img-profile" src="./img/jonah.jpg" alt = "profile pic"
  height = 80px
  align = "right"
  style = "padding-right: 30px;"/>
  <a class="active" href="#home" onclick="window.location.href='http://localhost:3000/home'">Home</a>
  <a href="#signup" onclick="window.location.href='http://localhost:3000/signup'">Get Started Today</a>
  <a href="#contact" onclick="window.location.href='http://localhost:3000/search'">Find Your Homies</a>
  <a href="#about" onclick="window.location.href='http://localhost:3000/about'">About Homies Us</a>
  <a href="#contact" onclick="window.location.href='http://localhost:3000/contactus'">Contact Us</a>
  <a href="#profile" onclick="window.location.href='http://localhost:3000/profile'">Me</a>

</div>
  </head>
  <body>
  <br>
  </br>
  <div class="wrapper">
  <div class = "logo">
    <img src="./img/logo.png" alt = "Homies logo"
    align = "middle"
    width =100px
    height = 100px
    display: block
    margin-left: auto
    margin-right: auto/>
  </div>
<div class = "wrapper1">
  <div class = "logo">
    <img src="./img/textlogo.png" alt = "Homies logo"
    align = "middle"
    width =380px
    height = 200px
    display: block
    margin-left: auto
    margin-right: auto/>
  </div>
  </div>


  <br>

  </br>

  <form>
  <input type="button" class="btn btn-primary btn-lg" value = "Already a Homie?" onclick="window.location.href='http://localhost:3000/signup'" />

  <input type="button" class="btn btn-danger btn-lg" value ="Not Yet? Sign Up Now!" onclick="window.location.href='http://localhost:3000/signup'" />
  </form>

  </div>
  </body>


</html

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
