<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<div id="horizontalmenu">
  <ul>
    <a href = "home.html">
    <img src="./img/textlogo.png" alt = "Homies logo"
    width =200px
    height = 80px
    align = "left"
    style = "padding-right: 30px;"/>
  </a>
  <li><a href="about.html" title="About">About Us<br/></a></li>
  <li><a href="signup.html" title="Sign Up">Sign Up<br/></a></li>
  <li><a href="login.html" title="Log In">Log In<br/></a></li>
  <li><a href="contactus.html" title="Contact Us">Contact Us<br/></a></li>
  </ul>
</nav></b>
