<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<div class="topnav">
  <img src="./img/textlogo.png" alt = "Homies logo"
  width =200px
  height = 80px
  align = "left"
  style = "padding-right: 30px;"/>
  <a class="active" href="#home" onclick="window.location.href='http://localhost:3000/home'">Home</a>
  <a href="#signup" onclick="window.location.href='http://localhost:3000/signup'">Get Started Today</a>
  <a href="#contact" onclick="window.location.href='http://localhost:3000/search'">Find Your Homies</a>
  <a href="#about" onclick="window.location.href='http://localhost:3000/about'">About Homies</a>
  <a href="#contact" onclick="window.location.href='http://localhost:3000/contactus'">Contact Us</a>
</div>
</nav></b>
