<!--SIGNUP-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="./css/signupcss.css" rel="stylesheet" type="text/css">
    <link href="./css/main.css" rel="stylesheet" type="text/css">

  </head>

<!--NAVIGATION MENU BAR-->
  <div class="topnav">
    <img src="./img/textlogo.png" alt = "Homies logo"
    width =200px
    height = 80px
    align = "left"
    style = "padding-right: 30px;"/>
    <a class="active" href="#home">Home</a>
    <a href="#signup">Get Started Today</a>
    <a href="#contact">Find Your Homies</a>
    <a href="#about">About Homies Us</a>
    <a href="#contact">Contact Us</a>
  </div>


  <body>
  <br>
  </br>
  <div class = "logo">
    <img src="./img/logo.png" alt = "Homies logo"
    align = "middle"
    width =100px
    height = 100px
    display: block
    margin-left: auto
    margin-right: auto/>
  </div>

  <br>

  </br>
    <div class="wrapper">
      <div class = "signin-container">
      <form class="form-signin">
        <h2 class="form-signin-heading">Get Started with Homies</h2>
        <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
        <label class="checkbox">
          <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
    </div>
    </div>

  </body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
