
.form-home {
  margin: 0 auto;
  width:40%;
  align = middle;
}

.logo {
  width =50px;
  height = 50px;
  align = "center";
}

body {
  background-image: url(/img/background3.jpg);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

h1 {
  font: 100px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    text-align: justify;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.post-wrapper{
  background-color: rgba(333, 333, 333, 0.4);
  height: 650px;
  align = middle
  width = 80%;
  margin-right: 250px;
  margin-left: 250px;
  padding-bottom: 100px;
}
.wrapper1 {
  background-color: rgba(0, 0, 0, 0.6);
  height: 200px;
  align = middle
  width = 120%;
  margin-right: 250px;
  margin-left: 250px;
  border-radius: 25px;
  border: 10px solid rgb(255, 163, 26, 0.4);

}
