.form-home {
  margin: 0 auto;
  width:40%;
  align = middle;
}

.logo {
  width =50px;
  height = 50px;
  align = "center";
}

body {
  background-image: url(/img/profileback.png);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

h1 {
  text-align: left;
  padding-left: 30px;
  font: 70px "Arial", Helvetica, Arial, sans-serif

}
h3 {
  text-align: right;
  padding-right: 80%;
  font: 40px "Arial", Helvetica, Arial, sans-serif

}
a {
    text-align: justify;
}

.wrapper {
    text-align: center;
}

.post-wrapper{
  background-color: rgba(255, 255, 255, 0.4);
  height: 650px;
  align = middle
  width = 80%;
  margin-right: 250px;
  margin-left: 250px;
  padding-bottom: 100px;
}
.img-profile1{
  padding-left: 10%;
}
